.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
  transform: translate(24vw, 15vw);
  border: 5px solid;
  border-radius: 100px;
  border-width: 10px;
  border-color: rgb(108, 107, 107);
  width: 50vw;
  backdrop-filter: blur(10px);
}
.login h2 {
  font-size: 3vw;
}
.login #loginForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.login #loginForm .userInput {
  text-align: center;
}
.login #loginForm .userInput input {
  letter-spacing: 3px;
  font-weight: bolder;
  font-size: large;
  text-align: center;
  width: 300px;
  height: 25px;
}
.login #loginForm .buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.login #loginForm .buttons button {
  font-size: 1.5vw;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url("../../images/circles.svg");
  background-attachment: fixed;
  background-size: cover;
}
body header {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background: linear-gradient(to left, rgb(43, 187, 43), blue, rgb(60, 60, 60));
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
body header #screenBloquer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: none;
}
body header #messageDiv {
  position: absolute;
}
body header #messageDiv #message {
  background-color: grey;
  border-radius: 100px;
  border-color: black;
  border-width: 3px;
  border-style: groove;
  padding: 5px;
  font-size: 1.5vw;
  color: white;
  position: fixed;
  text-align: center;
  bottom: 0;
  right: 0;
  transform: translateY(5vw);
  transition: bottom 1s ease;
  z-index: 9;
}
body header #checkOutMessage {
  position: fixed;
  z-index: 9999;
  max-width: 700px;
  width: 100%;
  aspect-ratio: 16/4;
  height: auto;
  background-color: rgb(101, 124, 168);
  border-radius: 25px;
  border-color: black;
  border-width: 2.5px;
  border-style: groove;
  transition: top 1s ease;
}
body header #checkOutMessage .content {
  position: relative;
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bolder;
  font-size: 2.5vw;
  margin: 0px;
  padding-top: 20px;
}
body header #checkOutMessage .btns {
  position: relative;
  transform: translateY(-1vw);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
body header #checkOutMessage .btns :hover {
  transform: translateY(5px);
}
body header #checkOutMessage .btns button {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 4px 4px 8px black;
  transition: 0.5s ease;
  font-weight: bolder;
  padding-left: 60px;
  padding-right: 60px;
  font-size: 1.1vw;
  border-radius: 100px;
  border-style: solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
}
body header h1 {
  text-align: center;
  font-size: 4vw;
  color: white;
}
body header img {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  transform: translateX(40vw);
  width: 3.5vw;
  height: 3.5vw;
  position: fixed;
}
body header span {
  position: fixed;
  width: 1.3vw;
  height: 1.3vw;
  background-color: black;
  transform: translate(38.5vw, -1.3vw);
  border-radius: 100px;
  z-index: 999;
}
body header span h6 {
  z-index: 999;
  color: white;
  text-align: center;
  font-weight: bolder;
}
body header .cart-container {
  z-index: 9997;
  position: fixed;
  overflow-y: scroll;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transform: translate(30vw, 10.5vw);
  border-radius: 25px;
  background-color: rgb(175, 174, 174);
  width: 450px;
  height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 2px;
  display: none;
}
body header .cart-container div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  padding: 10px;
}
body header .cart-container div .buttons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  transform: translateX(15px);
}
body header .cart-container div .buttons button {
  border-radius: 10px;
  border-style: groove;
  background-color: black;
  color: white;
  font-weight: bolder;
  border-color: white;
  padding: 5px;
}
body header .cart-container div .buttons #clearButton {
  transform: translateX(20px);
}
body header .cart-container div .buttons #checkOutButton {
  background-color: green;
}
body header .cart-container ul {
  padding-left: 10px;
  padding-right: 10px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body header .cart-container ul li {
  display: flex;
  flex-direction: row;
  border-style: groove;
  border-width: 2px;
  border-radius: 25px;
  border-color: black;
  padding: 5px;
}
body header .cart-container ul li button {
  position: absolute;
  right: 0;
  transform: translate(-20px, -2px);
  border-radius: 100px;
  font-weight: bolder;
  background-color: rgb(200, 102, 102);
  border-style: none;
  box-shadow: 3px 2px 2px black;
}
body main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
}
body main .title {
  margin-top: 20px;
  letter-spacing: 20px;
  font-size: 5vw;
  color: rgb(0, 0, 0);
  backdrop-filter: blur(100px);
  border-radius: 100px;
  padding: 15px;
}
body main .snowboards {
  background: linear-gradient(rgb(101, 124, 168), rgb(249, 249, 249));
  border-radius: 50px;
}
body main .snowboards h2 {
  text-align: center;
  font-size: 4vw;
  margin: 0px;
  color: white;
}
body main .snowboards .brands {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 3vw;
  padding: 30px;
  border-radius: 50px;
}
body main .snowboards .brands .burtonSB, body main .snowboards .brands .salomonSB, body main .snowboards .brands .capitaSB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
}
body main .snowboards .brands .burtonSB h3, body main .snowboards .brands .salomonSB h3, body main .snowboards .brands .capitaSB h3 {
  color: white;
  justify-content: center;
  font-size: 3vw;
}
body main .snowboards .brands .burtonSB .carousel, body main .snowboards .brands .salomonSB .carousel, body main .snowboards .brands .capitaSB .carousel {
  align-items: center;
}
body main .snowboards .brands .burtonSB .carousel .carousel-control-next, body main .snowboards .brands .burtonSB .carousel .carousel-control-prev, body main .snowboards .brands .salomonSB .carousel .carousel-control-next, body main .snowboards .brands .salomonSB .carousel .carousel-control-prev, body main .snowboards .brands .capitaSB .carousel .carousel-control-next, body main .snowboards .brands .capitaSB .carousel .carousel-control-prev {
  height: 15vw;
}
body main .snowboards .brands .burtonSB .carousel .carousel-control-next span, body main .snowboards .brands .burtonSB .carousel .carousel-control-prev span, body main .snowboards .brands .salomonSB .carousel .carousel-control-next span, body main .snowboards .brands .salomonSB .carousel .carousel-control-prev span, body main .snowboards .brands .capitaSB .carousel .carousel-control-next span, body main .snowboards .brands .capitaSB .carousel .carousel-control-prev span {
  filter: invert(200%);
}
body main .snowboards .brands .burtonSB .carousel .carousel-indicators, body main .snowboards .brands .salomonSB .carousel .carousel-indicators, body main .snowboards .brands .capitaSB .carousel .carousel-indicators {
  transform: translateX(1vw);
  bottom: 7.8vw;
  background-color: #999;
  width: 9vw;
  height: 1vw;
  padding-bottom: 20px;
}
body main .snowboards .brands .burtonSB .carousel .carousel-inner, body main .snowboards .brands .salomonSB .carousel .carousel-inner, body main .snowboards .brands .capitaSB .carousel .carousel-inner {
  width: 15vw;
  height: 25vw;
  position: relative;
}
body main .snowboards .brands .burtonSB .carousel .carousel-inner .carousel-item, body main .snowboards .brands .salomonSB .carousel .carousel-inner .carousel-item, body main .snowboards .brands .capitaSB .carousel .carousel-inner .carousel-item {
  position: relative;
}
body main .snowboards .brands .burtonSB .carousel .carousel-inner .carousel-item .card, body main .snowboards .brands .salomonSB .carousel .carousel-inner .carousel-item .card, body main .snowboards .brands .capitaSB .carousel .carousel-inner .carousel-item .card {
  position: relative;
  width: auto;
  height: 25vw;
  border-radius: 25px;
  gap: 5px;
}
body main .snowboards .brands .burtonSB .carousel .carousel-inner .carousel-item .card img, body main .snowboards .brands .salomonSB .carousel .carousel-inner .carousel-item .card img, body main .snowboards .brands .capitaSB .carousel .carousel-inner .carousel-item .card img {
  width: 12vw;
  height: 15vw;
  border-radius: 25px;
  padding-top: 5px;
  transform: translateX(1.45vw);
}
body main .snowboards .brands .burtonSB .carousel .carousel-inner .carousel-item .card .card-body, body main .snowboards .brands .salomonSB .carousel .carousel-inner .carousel-item .card .card-body, body main .snowboards .brands .capitaSB .carousel .carousel-inner .carousel-item .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: auto;
}
body main .snowboards .brands .burtonSB .carousel .carousel-inner .carousel-item .card .card-body .card-title, body main .snowboards .brands .salomonSB .carousel .carousel-inner .carousel-item .card .card-body .card-title, body main .snowboards .brands .capitaSB .carousel .carousel-inner .carousel-item .card .card-body .card-title {
  font-size: 1.2vw;
  text-align: center;
}
body main .snowboards .brands .burtonSB .carousel .carousel-inner .carousel-item .card .card-body .card-text, body main .snowboards .brands .salomonSB .carousel .carousel-inner .carousel-item .card .card-body .card-text, body main .snowboards .brands .capitaSB .carousel .carousel-inner .carousel-item .card .card-body .card-text {
  font-size: 1.3vw;
}
body main .snowboards .brands .burtonSB .carousel .carousel-inner .carousel-item .card .card-body .btn, body main .snowboards .brands .salomonSB .carousel .carousel-inner .carousel-item .card .card-body .btn, body main .snowboards .brands .capitaSB .carousel .carousel-inner .carousel-item .card .card-body .btn {
  font-size: 1vw;
  width: 5vw;
  align-items: center;
}
body main .bindings {
  background: linear-gradient(rgb(101, 124, 168), rgb(249, 249, 249));
  border-radius: 50px;
  width: auto;
  height: 32vw;
}
body main .bindings h2 {
  color: white;
  text-align: center;
  font-size: 4vw;
  margin: 0px;
}
body main .bindings .brands {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4vw;
  padding: 30px;
  border-radius: 50px;
  background: transparent;
  width: auto;
  height: 20vw;
  transform: translateY(5vw);
}
body main .bindings .brands .burtonBi, body main .bindings .brands .clewBi, body main .bindings .brands .salomonBi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
}
body main .bindings .brands .burtonBi h3, body main .bindings .brands .clewBi h3, body main .bindings .brands .salomonBi h3 {
  color: white;
  justify-content: center;
  font-size: 3vw;
}
body main .bindings .brands .burtonBi .carousel, body main .bindings .brands .clewBi .carousel, body main .bindings .brands .salomonBi .carousel {
  align-items: center;
}
body main .bindings .brands .burtonBi .carousel .carousel-control-next, body main .bindings .brands .burtonBi .carousel .carousel-control-prev, body main .bindings .brands .clewBi .carousel .carousel-control-next, body main .bindings .brands .clewBi .carousel .carousel-control-prev, body main .bindings .brands .salomonBi .carousel .carousel-control-next, body main .bindings .brands .salomonBi .carousel .carousel-control-prev {
  width: 2vw;
  height: 12vw;
}
body main .bindings .brands .burtonBi .carousel .carousel-control-next span, body main .bindings .brands .burtonBi .carousel .carousel-control-prev span, body main .bindings .brands .clewBi .carousel .carousel-control-next span, body main .bindings .brands .clewBi .carousel .carousel-control-prev span, body main .bindings .brands .salomonBi .carousel .carousel-control-next span, body main .bindings .brands .salomonBi .carousel .carousel-control-prev span {
  filter: invert(200%);
}
body main .bindings .brands .burtonBi .carousel .carousel-indicators, body main .bindings .brands .clewBi .carousel .carousel-indicators, body main .bindings .brands .salomonBi .carousel .carousel-indicators {
  transform: translateX(-0.5vw);
  bottom: 11vw;
  padding-bottom: 20px;
  background-color: #999;
  width: 9vw;
  height: 1vw;
}
body main .bindings .brands .burtonBi .carousel .carousel-inner, body main .bindings .brands .clewBi .carousel .carousel-inner, body main .bindings .brands .salomonBi .carousel .carousel-inner {
  width: 12vw;
  height: 25vw;
}
body main .bindings .brands .burtonBi .carousel .carousel-inner .carousel-item .card, body main .bindings .brands .clewBi .carousel .carousel-inner .carousel-item .card, body main .bindings .brands .salomonBi .carousel .carousel-inner .carousel-item .card {
  width: 12vw;
  height: 22vw;
  gap: 20px;
  border-radius: 25px;
}
body main .bindings .brands .burtonBi .carousel .carousel-inner .carousel-item .card img, body main .bindings .brands .clewBi .carousel .carousel-inner .carousel-item .card img, body main .bindings .brands .salomonBi .carousel .carousel-inner .carousel-item .card img {
  border-radius: 25px;
  width: 10vw;
  height: 10vw;
  transform: translate(1vw, 1vw);
  padding-top: 5px;
  object-fit: cover;
}
body main .bindings .brands .burtonBi .carousel .carousel-inner .carousel-item .card .card-body, body main .bindings .brands .clewBi .carousel .carousel-inner .carousel-item .card .card-body, body main .bindings .brands .salomonBi .carousel .carousel-inner .carousel-item .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: auto;
  transform: translateY(10px);
}
body main .bindings .brands .burtonBi .carousel .carousel-inner .carousel-item .card .card-body .card-title, body main .bindings .brands .clewBi .carousel .carousel-inner .carousel-item .card .card-body .card-title, body main .bindings .brands .salomonBi .carousel .carousel-inner .carousel-item .card .card-body .card-title {
  font-size: 1.2vw;
  text-align: center;
}
body main .bindings .brands .burtonBi .carousel .carousel-inner .carousel-item .card .card-body .card-text, body main .bindings .brands .clewBi .carousel .carousel-inner .carousel-item .card .card-body .card-text, body main .bindings .brands .salomonBi .carousel .carousel-inner .carousel-item .card .card-body .card-text {
  font-size: 1.3vw;
}
body main .bindings .brands .burtonBi .carousel .carousel-inner .carousel-item .card .card-body .btn, body main .bindings .brands .clewBi .carousel .carousel-inner .carousel-item .card .card-body .btn, body main .bindings .brands .salomonBi .carousel .carousel-inner .carousel-item .card .card-body .btn {
  font-size: 1vw;
  width: 5vw;
  align-items: center;
}
body main .boots {
  background: linear-gradient(rgb(101, 124, 168), rgb(249, 249, 249));
  border-radius: 50px;
}
body main .boots h2 {
  text-align: center;
  font-size: 4vw;
  margin: 0px;
  color: white;
}
body main .boots .brands {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 4vw;
  padding: 30px;
  border-radius: 50px;
}
body main .boots .brands .burtonB, body main .boots .brands .salomonB, body main .boots .brands .dcB {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1vw;
}
body main .boots .brands .burtonB h3, body main .boots .brands .salomonB h3, body main .boots .brands .dcB h3 {
  color: white;
  justify-content: center;
  font-size: 3vw;
}
body main .boots .brands .burtonB .carousel, body main .boots .brands .salomonB .carousel, body main .boots .brands .dcB .carousel {
  width: 15vw;
  height: 22vw;
  align-items: center;
}
body main .boots .brands .burtonB .carousel .carousel-control-next, body main .boots .brands .burtonB .carousel .carousel-control-prev, body main .boots .brands .salomonB .carousel .carousel-control-next, body main .boots .brands .salomonB .carousel .carousel-control-prev, body main .boots .brands .dcB .carousel .carousel-control-next, body main .boots .brands .dcB .carousel .carousel-control-prev {
  height: 15vw;
}
body main .boots .brands .burtonB .carousel .carousel-control-next span, body main .boots .brands .burtonB .carousel .carousel-control-prev span, body main .boots .brands .salomonB .carousel .carousel-control-next span, body main .boots .brands .salomonB .carousel .carousel-control-prev span, body main .boots .brands .dcB .carousel .carousel-control-next span, body main .boots .brands .dcB .carousel .carousel-control-prev span {
  filter: invert(200%);
}
body main .boots .brands .burtonB .carousel .carousel-indicators, body main .boots .brands .salomonB .carousel .carousel-indicators, body main .boots .brands .dcB .carousel .carousel-indicators {
  width: 9vw;
  height: 1vw;
  transform: translateX(1vw);
  bottom: 7.5vw;
  padding-bottom: 20px;
  background-color: #999;
}
body main .boots .brands .burtonB .carousel .carousel-inner, body main .boots .brands .salomonB .carousel .carousel-inner, body main .boots .brands .dcB .carousel .carousel-inner {
  width: 15vw;
  height: 25vw;
}
body main .boots .brands .burtonB .carousel .carousel-inner .carousel-item .card, body main .boots .brands .salomonB .carousel .carousel-inner .carousel-item .card, body main .boots .brands .dcB .carousel .carousel-inner .carousel-item .card {
  width: auto;
  height: 22vw;
  border-radius: 25px;
  gap: 5px;
}
body main .boots .brands .burtonB .carousel .carousel-inner .carousel-item .card img, body main .boots .brands .salomonB .carousel .carousel-inner .carousel-item .card img, body main .boots .brands .dcB .carousel .carousel-inner .carousel-item .card img {
  border-radius: 25px;
  width: 10vw;
  height: 10vw;
  transform: translate(2.5vw, 1vw);
  padding-top: 5px;
}
body main .boots .brands .burtonB .carousel .carousel-inner .carousel-item .card .card-body, body main .boots .brands .salomonB .carousel .carousel-inner .carousel-item .card .card-body, body main .boots .brands .dcB .carousel .carousel-inner .carousel-item .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0px;
  transform: translateY(20px);
}
body main .boots .brands .burtonB .carousel .carousel-inner .carousel-item .card .card-body .card-title, body main .boots .brands .salomonB .carousel .carousel-inner .carousel-item .card .card-body .card-title, body main .boots .brands .dcB .carousel .carousel-inner .carousel-item .card .card-body .card-title {
  font-size: 1.2vw;
  text-align: center;
}
body main .boots .brands .burtonB .carousel .carousel-inner .carousel-item .card .card-body .card-text, body main .boots .brands .salomonB .carousel .carousel-inner .carousel-item .card .card-body .card-text, body main .boots .brands .dcB .carousel .carousel-inner .carousel-item .card .card-body .card-text {
  font-size: 1.3vw;
}
body main .boots .brands .burtonB .carousel .carousel-inner .carousel-item .card .card-body .btn, body main .boots .brands .salomonB .carousel .carousel-inner .carousel-item .card .card-body .btn, body main .boots .brands .dcB .carousel .carousel-inner .carousel-item .card .card-body .btn {
  font-size: 1vw;
  width: 5vw;
  align-items: center;
}
body main .goggles, body main .helmets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 20px;
  background: linear-gradient(rgb(101, 124, 168), rgb(249, 249, 249));
  padding: 20px;
  border-radius: 50px;
}
body main .goggles h2, body main .helmets h2 {
  text-align: center;
  font-size: 4vw;
  margin: 5px;
  color: white;
}
body main .goggles .brands, body main .helmets .brands {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
  flex-direction: row;
}
body main .goggles .brands .card, body main .helmets .brands .card {
  z-index: 0;
  border-radius: 25px;
  gap: 10px;
  width: 10vw;
  height: 20vw;
}
body main .goggles .brands .card img, body main .helmets .brands .card img {
  border-radius: 25px;
  width: 9vw;
  height: 9vw;
  transform: translate(0.5vw, 0.5vw);
}
body main .goggles .brands .card .card-body, body main .helmets .brands .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: auto;
  padding: 10px;
}
body main .goggles .brands .card .card-body .card-title, body main .helmets .brands .card .card-body .card-title {
  font-size: 1.5vw;
  text-align: center;
}
body main .goggles .brands .card .card-body .card-text, body main .helmets .brands .card .card-body .card-text {
  font-size: 1.3vw;
}
body main .goggles .brands .card .card-body .btn, body main .helmets .brands .card .card-body .btn {
  font-size: 1vw;
  align-items: center;
}
body footer div {
  border-radius: 100px;
  border-width: 3px;
  background-color: rgb(44, 44, 44);
  margin: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
}
body footer div h6 {
  font-size: 1vw;
  color: white;
  text-align: center;
}
body footer div h6 a {
  text-decoration-color: orange;
  color: orange;
}

@media only screen and (max-width: 1399.99px) {
  body main .snowboards .brands .burtonSB .carousel .carousel-control-next, body main .snowboards .brands .burtonSB .carousel .carousel-control-prev, body main .snowboards .brands .salomonSB .carousel .carousel-control-next, body main .snowboards .brands .salomonSB .carousel .carousel-control-prev, body main .snowboards .brands .capitaSB .carousel .carousel-control-next, body main .snowboards .brands .capitaSB .carousel .carousel-control-prev {
    height: 16vw;
  }
  body main .snowboards .brands .burtonSB .carousel .carousel-indicators, body main .snowboards .brands .salomonSB .carousel .carousel-indicators, body main .snowboards .brands .capitaSB .carousel .carousel-indicators {
    bottom: 10vw;
  }
  body main .snowboards .brands .burtonSB .carousel .carousel-inner, body main .snowboards .brands .salomonSB .carousel .carousel-inner, body main .snowboards .brands .capitaSB .carousel .carousel-inner {
    width: 15vw;
    height: 30vw;
  }
  body main .snowboards .brands .burtonSB .carousel .carousel-inner .carousel-item .card, body main .snowboards .brands .salomonSB .carousel .carousel-inner .carousel-item .card, body main .snowboards .brands .capitaSB .carousel .carousel-inner .carousel-item .card {
    width: auto;
    height: 29vw;
  }
  body main .snowboards .brands .burtonSB .carousel .carousel-inner .carousel-item .card .card-body, body main .snowboards .brands .salomonSB .carousel .carousel-inner .carousel-item .card .card-body, body main .snowboards .brands .capitaSB .carousel .carousel-inner .carousel-item .card .card-body {
    transform: translateY(1vw);
  }
  body main .bindings {
    height: 35vw;
  }
  body main .bindings .brands .burtonBi .carousel, body main .bindings .brands .clewBi .carousel, body main .bindings .brands .salomonBi .carousel {
    align-items: center;
  }
  body main .bindings .brands .burtonBi .carousel .carousel-control-next, body main .bindings .brands .burtonBi .carousel .carousel-control-prev, body main .bindings .brands .clewBi .carousel .carousel-control-next, body main .bindings .brands .clewBi .carousel .carousel-control-prev, body main .bindings .brands .salomonBi .carousel .carousel-control-next, body main .bindings .brands .salomonBi .carousel .carousel-control-prev {
    width: 2vw;
    height: 14vw;
  }
  body main .bindings .brands .burtonBi .carousel .carousel-indicators, body main .bindings .brands .clewBi .carousel .carousel-indicators, body main .bindings .brands .salomonBi .carousel .carousel-indicators {
    bottom: 10vw;
  }
  body main .bindings .brands .burtonBi .carousel .carousel-inner, body main .bindings .brands .clewBi .carousel .carousel-inner, body main .bindings .brands .salomonBi .carousel .carousel-inner {
    width: 12vw;
    height: 25vw;
  }
  body main .bindings .brands .burtonBi .carousel .carousel-inner .carousel-item .card, body main .bindings .brands .clewBi .carousel .carousel-inner .carousel-item .card, body main .bindings .brands .salomonBi .carousel .carousel-inner .carousel-item .card {
    width: 12vw;
    height: 25vw;
  }
  body main .boots {
    background-color: rgb(129, 136, 207);
    border-radius: 50px;
  }
  body main .boots h2 {
    text-align: center;
    font-size: 4vw;
    margin: 0px;
  }
  body main .boots .brands {
    background: linear-gradient(rgb(129, 136, 207), rgb(249, 249, 249));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 4vw;
    padding: 30px;
    border-radius: 50px;
  }
  body main .boots .brands .burtonB .carousel, body main .boots .brands .salomonB .carousel, body main .boots .brands .dcB .carousel {
    width: 15vw;
    height: 25vw;
  }
  body main .boots .brands .burtonB .carousel .carousel-control-next, body main .boots .brands .burtonB .carousel .carousel-control-prev, body main .boots .brands .salomonB .carousel .carousel-control-next, body main .boots .brands .salomonB .carousel .carousel-control-prev, body main .boots .brands .dcB .carousel .carousel-control-next, body main .boots .brands .dcB .carousel .carousel-control-prev {
    height: 15vw;
  }
  body main .boots .brands .burtonB .carousel .carousel-indicators, body main .boots .brands .salomonB .carousel .carousel-indicators, body main .boots .brands .dcB .carousel .carousel-indicators {
    bottom: 10vw;
  }
  body main .boots .brands .burtonB .carousel .carousel-inner, body main .boots .brands .salomonB .carousel .carousel-inner, body main .boots .brands .dcB .carousel .carousel-inner {
    width: 15vw;
    height: 25vw;
  }
  body main .boots .brands .burtonB .carousel .carousel-inner .carousel-item .card, body main .boots .brands .salomonB .carousel .carousel-inner .carousel-item .card, body main .boots .brands .dcB .carousel .carousel-inner .carousel-item .card {
    width: auto;
    height: 25vw;
  }
  body main .boots .brands .burtonB .carousel .carousel-inner .carousel-item .card .card-body, body main .boots .brands .salomonB .carousel .carousel-inner .carousel-item .card .card-body, body main .boots .brands .dcB .carousel .carousel-inner .carousel-item .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0px;
  }
  body main .helmets .brands .card {
    border-radius: 25px;
    gap: 10px;
    width: 11vw;
    height: 20vw;
  }
  body main .helmets .brands .card img {
    transform: translate(1vw, 1vw);
  }
  body main .helmets .brands .card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: auto;
    padding: 10px;
  }
  body main .goggles .brands .card img {
    transform: translate(0.5vw, 1vw);
  }
}
@media only screen and (max-width: 1199.99px) {
  body main .goggles {
    gap: 20px;
  }
  body main .goggles .brands .card {
    width: 12vw;
    height: 24vw;
  }
  body main .goggles .brands .card img {
    transform: translate(0.5vw, 1.5vw);
    width: 11vw;
    height: 11vw;
  }
  body main .goggles .brands .card .card-body {
    width: 12vw;
    height: 24vw;
  }
  body main .helmets {
    gap: 20px;
  }
  body main .helmets .brands .card {
    width: 12vw;
    height: 22vw;
  }
  body main .helmets .brands .card img {
    width: 10vw;
    height: 10vw;
  }
  body main .helmets .brands .card .card-body {
    width: 12vw;
    height: 22vw;
  }
  body main .bindings {
    height: 38vw;
  }
  body main .bindings .brands .burtonBi .carousel .carousel-indicators, body main .bindings .brands .clewBi .carousel .carousel-indicators, body main .bindings .brands .salomonBi .carousel .carousel-indicators {
    transform: translate(1vw, 1vw);
  }
  body main .bindings .brands .burtonBi .carousel .carousel-inner, body main .bindings .brands .clewBi .carousel .carousel-inner, body main .bindings .brands .salomonBi .carousel .carousel-inner {
    width: 15vw;
  }
  body main .bindings .brands .burtonBi .carousel .carousel-inner .carousel-item .card, body main .bindings .brands .clewBi .carousel .carousel-inner .carousel-item .card, body main .bindings .brands .salomonBi .carousel .carousel-inner .carousel-item .card {
    width: 15vw;
  }
  body main .bindings .brands .burtonBi .carousel .carousel-inner .carousel-item .card img, body main .bindings .brands .clewBi .carousel .carousel-inner .carousel-item .card img, body main .bindings .brands .salomonBi .carousel .carousel-inner .carousel-item .card img {
    transform: translate(2vw, 0.5vw);
    width: 11vw;
    height: 11vw;
  }
  body main .bindings .brands .burtonBi .carousel .carousel-inner .carousel-item .card .card-body .card-title, body main .bindings .brands .clewBi .carousel .carousel-inner .carousel-item .card .card-body .card-title, body main .bindings .brands .salomonBi .carousel .carousel-inner .carousel-item .card .card-body .card-title {
    font-size: 1.5vw;
  }
}

/*# sourceMappingURL=style.css.map */
