.login{
    @include display-flex(column,center,center,nowrap,0px);
    transform: translate(24vw,15vw);
    border: 5px solid;
    border-radius: 100px;
    border-width: 10px;
    border-color: rgb(108, 107, 107);
    width: 50vw;
    backdrop-filter: blur(10px);
    h2{
        font-size: 3vw;
    }
    #loginForm{
        height: 100%;
        @include display-flex(column,center,center,nowrap,10px);
        .userInput{
            text-align: center;
            input{
                letter-spacing: 3px;
                font-weight: bolder;
                font-size: large;
                text-align: center;
                width: 300px;
                height: 25px;
            }
        }
        .buttons{
            @include display-flex(row,space-between,center,nowrap,10px);
            button{
                font-size: 1.5vw;
            }  
        }
    }
}