@media only screen and (max-width: 1399.99px){
    body{
        main{
            .snowboards,.bindings,.boots{
                .brands{
                    .burtonSB,.salomonSB,.capitaSB,.burtonBi,.clewBi,.salomonBi,.burtonB,.salomonB,.dcB{
                        .carousel{
                            .carousel-control-next,.carousel-control-prev{
                                height: 16vw;
                            }
                            .carousel-indicators{
                                bottom: 10vw;
                            }
                            .carousel-inner{
                                @include width-height(15vw,30vw);
                                .carousel-item{
                                    .card{
                                        @include width-height(auto,29vw);
                                        .card-body{
                                            transform: translateY(1vw);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            //HELMETS 
            .helmets{
                .brands{
                    .card{
                        border-radius: 25px;
                        gap: 10px;
                        @include width-height(11vw,20vw);
                        img{
                            transform: translate(1vw,1vw);
                        }
                        .card-body{
                            @include display-flex(column,center,center,nowrap,auto);
                            padding: 10px;
                        }
                    }
                }
                
            }
            //GOGGLES
            .goggles{
                .brands{
                    .card{
                        img{
                            transform: translate(0.5vw,1vw);
                        }
                    }
                }
                
            }
            
        }
    }
    
}

@media only screen and (max-width: 1199.99px){
    body{
        main{
            //GOGGLES
            .goggles{
                gap: 20px;
                .brands{
                    .card{
                        @include width-height(12vw,24vw);
                        img{
                            transform: translate(0.5vw,1.5vw);
                            @include width-height(11vw,11vw);
                        }
                        .card-body{
                            @include width-height(12vw,24vw);
                            
                        }
                    }
                }
            
            }
            //HELMETS
            .helmets{
                gap: 20px;
                .brands{
                    .card{
                        @include width-height(12vw,22vw);
                        img{
                            @include width-height(10vw,10vw);
                        }
                        .card-body{
                            @include width-height(12vw,22vw);
                        }
                    }
                }
                
            }
        }
    }
}