body{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    background: url("../../images/circles.svg");
    background-attachment: fixed;
    background-size: cover;
   header{
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: linear-gradient(to left,rgb(43, 187, 43) ,blue ,rgb(60, 60, 60));
    @include display-flex(row,center,center,nowrap,10px);

        #screenBloquer{
            position: fixed;  
            top: 0;  
            left: 0;  
            width: 100%;  
            height: 100%;  
            z-index: 9998; 
            background-color: rgba(0, 0, 0, 0.5); 
            backdrop-filter: blur(10px);
            display: none;
        }
        #messageDiv{
            position: absolute;
            #message{
                background-color: grey;
                border-radius: 100px;
                border-color: black;
                border-width: 3px;
                border-style: groove;
                padding: 5px;
                font-size: 1.5vw;
                color: white;
                position: fixed;
                text-align: center;
                bottom: 0;
                right:0;
                transform: translateY(5vw);
                transition: bottom 1s ease;
                z-index: 9;
            }
        }
        #checkOutMessage{
            position: fixed;
            z-index: 9999;
            background-color: white;
            width: 600px;
            height: 150px;
            background-color: rgb(134, 212, 136);
            border-radius: 25px;
            border-color: black;
            border-width: 2.5px;
            border-style: groove;
            
            //transform: translateY(-20vw);
            transition: top 1s ease;
            .content{
                position: relative;
                text-align: center;
                color: rgb(0, 0, 0);
                font-weight: bolder;
                font-size: 2vw;
            }
            .btns{
                position: relative;
                transform: translateY(2vw);
                text-align: center;
                button{
                    border-radius: 100px;
                    @include width-height(100px,30px);
                    margin: 20px;
                }
                
            }
        }
        h1{
            text-align: center;
            font-size: 4vw;
            color: white;
        }
        img{
            background-color: white;
            border-radius: 10px;
            padding: 5px;
            transform: translateX(40vw);
            @include width-height(3.5vw,3.5vw);
            position: fixed;
        }
        span{
            position: fixed;
            @include width-height(1.3vw,1.3vw);
            background-color: black;
            transform: translate(38.5vw,-1.3vw);
            border-radius: 100px;
            h6{
                z-index: 999;
                color: white;
                text-align: center;
                font-weight: bolder;
            }
        }
        .cart-container{
            z-index: 9997;
            position: fixed;
            overflow-y: scroll;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transform: translate(30vw,10.5vw);
            border-radius: 25px;
            background-color: rgb(175, 174, 174);
            width: 450px;
            height: 15vw;
            @include display-flex(column,center,center,nowrap,2px);
            display: none;
            div{
                @include display-flex(row,space-between,center,nowrap,10px);
                padding: 10px;
                .buttons{
                    display: flex;
                    flex-direction: row;
                    gap: 30px;
                    transform: translateX(15px);
                    button{
                    border-radius: 10px;
                    border-style: groove;
                    background-color: black;
                    color: white;
                    font-weight: bolder;
                    border-color: white;
                    padding: 5px;
                }
                    #clearButton{
                        transform: translateX(20px);
                    }
                    #checkOutButton{
                        background-color: green;
                    }
                }
                
                
            }
            ul{
                padding-left: 10px;
                padding-right: 10px;
                list-style-type: none;
                display: flex;
                flex-direction: column;
                gap: 10px;
                li{
                    display: flex;
                    flex-direction: row;
                    border-style: groove;
                    border-width: 2px;
                    border-radius: 25px;
                    border-color: black;
                    padding: 5px;
                    button{
                        position: absolute;
                        right: 0;
                        transform: translate(-20px,-2px);
                        border-radius: 100px;
                        font-weight: bolder;
                        background-color: rgb(200, 102, 102);
                        border-style: none;
                        box-shadow: 3px 2px 2px black;
                    }
                }
            }
        }
    }
    main{
        @include display-flex(column,center,center,nowrap,20px);
        .title{
            margin-top: 20px;
            letter-spacing: 20px;
            font-size: 5vw;
            color: white;
            background-color: black;
            border-radius: 100px;
            padding: 15px;
        }
        //SNOWBOARDS
        .snowboards{
            background: linear-gradient(rgb(141, 212, 155), rgb(249, 249, 249));
            border-radius: 50px;
            h2{
                text-align: center;
                font-size: 4vw;
                margin: 0px;
            }
            .brands{
                @include display-flex(row,center,center,nowrap,3vw);
                padding: 30px;
                border-radius: 50px;
                .burtonSB,.salomonSB,.capitaSB{
                    @include display-flex(column,center,center,nowrap,0px);
                    h3{
                        justify-content: center;
                        font-size: 3vw;
                    }
                    .carousel{
                        align-items: center;
                        .carousel-control-next,.carousel-control-prev{
                            height: 15vw;
                            span{
                                filter: invert(200%);
                            }
                        }
                        .carousel-indicators{
                            transform: translateX(1vw);
                            bottom: 7.8vw;
                            background-color: #999;
                            @include width-height(9vw,1vw);
                            padding-bottom: 20px;
                        }
                        .carousel-inner{
                            @include width-height(15vw,25vw);
                            position: relative;
                            .carousel-item{
                                position: relative;
                                .card{ 
                                    position: relative;
                                    @include width-height(auto,25vw);
                                    border-radius: 25px;
                                    gap: 5px;
                                    img{
                                        @include width-height(12vw,15vw);
                                        border-radius: 25px;
                                        padding-top: 5px;
                                        transform: translateX(1.45vw);
                                    }
                                    .card-body{
                                        @include display-flex(column,center,center,nowrap,auto);
                                        .card-title{
                                            font-size: 1.2vw;
                                            text-align: center;
                                        }
                                        .card-text{
                                            font-size: 1.3vw;
                                        }
                                        .btn{
                                            font-size: 1vw;
                                            width: 5vw;
                                            align-items: center;
                                            
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        //BINDINGS
        .bindings{
            background: linear-gradient(rgb(33, 33, 33), rgb(249, 249, 249));
            border-radius:50px;
            @include width-height(auto,32vw);
            h2{
                color: white;
                text-align: center;
                font-size: 4vw;
                margin: 0px;
            }
            .brands{
                @include display-flex(row,center,center,nowrap,4vw);
                padding: 30px;
                border-radius: 50px;
                background: transparent;
                @include width-height(auto,20vw);
                transform: translateY(5vw);
                .burtonBi,.clewBi,.salomonBi{
                    @include display-flex(column,center,center,nowrap,0px);
                    h3{
                        color: white;
                        justify-content: center;
                        font-size: 3vw;
                    }
                    .carousel{
                        align-items: center;
                        .carousel-control-next,.carousel-control-prev{
                            @include width-height(2vw,12vw);
                            span{
                                filter: invert(200%);
                            }
                        }
                        .carousel-indicators{
                            transform: translateX(-0.5vw);
                            bottom: 11vw;
                            padding-bottom: 20px;
                            background-color: #999;
                            @include width-height(9vw,1vw);
                        }
                        .carousel-inner{
                            @include width-height(12vw,25vw);
                            .carousel-item{
                                .card{
                                    @include width-height(12vw,22vw);
                                    gap: 20px;
                                    border-radius: 25px;
                                    img{
                                        border-radius: 25px;
                                        @include width-height(10vw,10vw);
                                        transform: translate(1vw,1vw);
                                        padding-top: 5px;
                                        object-fit: cover;
                                    }
                                    .card-body{
                                        @include display-flex(column,center,center,nowrap,auto);
                                         transform: translateY(10px); 
                                        .card-title{
                                            font-size: 1.2vw;
                                            text-align: center;
                                        }
                                        .card-text{
                                            font-size: 1.3vw;
                                        }
                                        .btn{
                                            font-size: 1vw;
                                            width: 5vw;
                                            align-items: center;
                                            
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        //BOOTS
        .boots{
            background-color: rgb(129, 136, 207);
            border-radius:50px;
            h2{
                text-align: center;
                font-size: 4vw;
                margin: 0px;
            }
            .brands{
                background: linear-gradient(rgb(129, 136, 207), rgb(249, 249, 249));
                @include display-flex(row,center,center,nowrap,4vw);
                padding: 30px;
                border-radius: 50px;
                .burtonB,.salomonB,.dcB{
                    @include display-flex(column,center,center,nowrap,1vw);
                    h3{
                        justify-content: center;
                        font-size: 3vw;
                    }
                    .carousel{
                        @include width-height(15vw,22vw);
                        align-items: center;
                        .carousel-control-next,.carousel-control-prev{
                            height: 15vw;
                            span{
                                filter: invert(200%);
                            }
                        }
                        .carousel-indicators{ 
                            @include width-height(9vw,1vw);
                            transform: translateX(1vw);
                            bottom: 7.5vw;
                            padding-bottom: 20px;
                            background-color: #999;
                        }
                        .carousel-inner{
                            @include width-height(15vw,25vw);
                            .carousel-item{ 
                                .card{
                                    @include width-height(auto,22vw);
                                    border-radius: 25px;
                                    gap: 5px;
                                    img{
                                        border-radius: 25px;
                                        @include width-height(10vw,10vw);
                                        transform: translate(2.5vw,1vw);
                                        padding-top: 5px;
                                    }
                                    .card-body{
                                        @include display-flex(column,center,center,nowrap,0px);
                                        transform: translateY(20px);
                                        .card-title{
                                            font-size: 1.2vw;
                                            text-align: center;
                                        }
                                        .card-text{
                                            font-size: 1.3vw;
                                        }
                                        .btn{
                                            font-size: 1vw;
                                            width: 5vw;
                                            align-items: center;
                                            
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        //HELMETS AND GOGGLES
        .goggles,.helmets{
            @include display-flex(flex,center,center,nowrap,auto);
            flex-direction: column;
            background:linear-gradient(rgb(230, 235, 153),white);
            padding: 20px;
            border-radius: 50px;
            h2{
                text-align: center;
                font-size: 3vw;
                margin: 5px; 
            }
            .brands{
                @include display-flex(row,center,center,nowrap,15px);
                flex-direction: row;
                .card{
                    z-index: 0;
                    border-radius: 25px;
                    gap: 10px;
                    @include width-height(10vw,20vw);
                    img{
                        border-radius: 25px;
                        @include width-height(9vw,9vw);
                        transform: translate(0.5vw,0.5vw);
                    }
                    .card-body{
                        @include display-flex(column,center,center,nowrap,auto);
                        padding: 10px;
                        .card-title{
                            font-size: 1.5vw;
                            text-align: center;
                        }
                        .card-text{
                            font-size: 1.3vw;
                        }
                        .btn{
                            font-size: 1vw;
                            align-items: center;
                            
                        }
                    }
                }
            }
            
        }
        
    }
    footer{
        
        
        div{
            border-radius: 100px;
            border-width: 3px;
            background-color: rgb(44, 44, 44);
            margin: 20px;  
            display: flex;
            justify-content: center;
            align-content: center;
            h6{
                
                font-size: 1vw;
                color: white;
                text-align: center;
                a{
                    text-decoration-color:orange;
                    color: orange;
                }
            }
        }
        
    } 
}
